<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <Title>Marvelous Meals</Title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
</head>
    <body>
    <h2>Welcome to Marvelous Meals.</h2>
    <ul>
        <li><a href="signUpPage.html">Create account</a></li>
        <li><a href="loginPage.html">Log into your account</a></li>
        <li><a href="userPage.html">View your profile</a></li>
        <li><a href="searchPage.html">Find a recipe!</a></li>
        <li><a href="formRecipe.html">View recipe</a></li>
    </ul>
    <div class="container">
        <a class="btn btn-info" role="button" th:href="@{/create}">Add a new recipe</a>
    </div>
    <table>
        <thead>
        <tr>
            <th hidden>recipeID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Difficulty Level</th>
            <th>Allergy Factors</th>
            <th>Comments</th>
            <th>Ratings</th>
            <th>Image of Recipe</th>
            <th>For Number Of People</th>
            <th>Preparation time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${recipe}">
            <td th:scope="col" th:text="${s.recipeID}" hidden></td>
            <td th:scope="col" th:text="${s.title}"></td>
            <td th:scope="col" th:text="${s.description}"></td>
            <td th:scope="col" th:text="${s.difficultyLevel}"></td>
            <td th:scope="col" th:text="${s.allergyFactors}"></td>
            <td th:scope="col" th:text="${s.comments}"></td>
            <td th:scope="col" th:text="${s.ratings}"></td>
            <td th:scope="col" th:text="${s.imageOfRecipe}"></td>
            <td th:scope="col" th:text="${s.forNumberOfPeople}"></td>
            <td th:scope="col" th:text="${s.prepTime}"></td>
        </tr>
        </tbody>
    </table>
    </body>
</html>