<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <Title>Marvelous Meals</Title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <script th:src="@{jquery-3.6.1.min.js}"></script>

    <!-- filter -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#all_recipes').DataTable();
        } );
    </script>
</head>
    <body>

    <h2>Welcome to Marvelous Meals.</h2>
    <ul>
        <li><a href="/login">Create account</a></li>
        <li><a href="/profile">View your profile </a></li>
        <!--
        <li><a href="/list">show all users</a></li>

        <li><a href="searchPage.html">Find a recipe! (yet to be implemented)</a></li>
        <li><a href="formRecipe.html">View recipe (yet to be implemented)</a></li>
        -->
    </ul>
    <div>
        <a th:href="@{/create}">Add a new recipe</a>
        <!--
        <a th:href="@{/addComment}">Comment on a recipe (yet to be implemented)</a>
        <a th:href="@{/giveRating}">Rate a recipe (yet to be implemented)</a>
        <a th:href="@{/filter}">I will filter things for you!(yet to be implemented)</a>
        -->
    </div>
    <table id="all_recipes" class="display">
        <thead>
        <tr>
            <th hidden>recipeID</th>
            <th style="border: 1px solid">Title</th>
            <th style="border: 1px solid">Description</th>
            <th style="border: 1px solid">Difficulty Level</th>
            <th style="border: 1px solid">Allergy Factors</th>
            <th style="border: 1px solid">Comments</th>
            <th style="border: 1px solid">Ratings</th>
            <th style="border: 1px solid">Image of Recipe</th>
            <th style="border: 1px solid">For Number Of People</th>
            <th style="border: 1px solid">Preparation time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipe}">
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.recipeID}" hidden></td>
            <td style="border: 1px solid" th:scope="col" >
                <a th:href="@{/recipe(id=${recipe.recipeID})}" th:text="${recipe.title}"></a>
            </td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.description}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.difficultyLevel}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.allergyFactors}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.comments}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.ratings}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.imageOfRecipe}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.forNumberOfPeople}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.prepTime}"></td>
        </tr>
        </tbody>
    </table>
    <form action="search" method="post">
        <input type="text" name="toSearch" id="toSearch" placeholder=""/>
        <input type="submit" value="search recipe database"/>
    </form>
    </body>
</html>