<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <Title>Marvelous Meals</Title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
</head>
    <body>
    <h2>Welcome to Marvelous Meals.</h2>
    <ul>
        <li><a href="signUpPage.html">Create account (yet to be implemented)</a></li>
        <li><a href="loginPage.html">Log into your account (yet to be implemented)</a></li>
        <li><a href="userPage.html">View your profile (yet to be implemented)</a></li>
        <li><a href="searchPage.html">Find a recipe! (yet to be implemented)</a></li>
        <li><a href="formRecipe.html">View recipe (yet to be implemented)</a></li>
    </ul>
    <div>
        <a th:href="@{/create}">Add a new recipe (works)</a>
        <a th:href="@{/addComment}">Comment on a recipe (yet to be implemented)</a>
        <a th:href="@{/giveRating}">Rate a recipe (yet to be implemented)</a>
        <a th:href="@{/filter}">I will filter things for you!(yet to be implemented)</a>
    </div>
    <table style="border: 5px solid">
        <thead style="border: 1px solid">
        <tr>
            <th hidden>recipeID</th>
            <th style="border: 1px solid">Title</th>
            <th style="border: 1px solid">Description</th>
            <th style="border: 1px solid">Difficulty Level</th>
            <th style="border: 1px solid">Allergy Factors</th>
            <th style="border: 1px solid">Comments</th>
            <th style="border: 1px solid">Ratings</th>
            <th style="border: 1px solid">Image of Recipe</th>
            <th style="border: 1px solid">For Number Of People</th>
            <th style="border: 1px solid">Preparation time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipe}">
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.recipeID}" hidden></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.title}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.description}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.difficultyLevel}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.allergyFactors}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.comments}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.ratings}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.imageOfRecipe}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.forNumberOfPeople}"></td>
            <td style="border: 1px solid" th:scope="col" th:text="${recipe.prepTime}"></td>
        </tr>
        </tbody>
    </table>
    </body>
</html>