<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up! ..or login to an existing account.</title>
</head>
<body>
<input action="action" type="button" onclick="history.go(-1);" value="Back"/>
<h2>Log into your account.</h2>
<form action="/login" th:object="${recipeuser}"  method="get">
    <input type="text" name="RecipeUsername" id="RecipeUsername" th:field="*{RecipeUsername}" placeholder="Account name"/>
    <br>
    <input type="text" name="RecipeUserPassword" id="RecipeUserPassword" th:value="*{RecipeUserPassword}" placeholder="Password"/>
    <br>
    <input type="submit" value="Log in"/>
    <br>
    <H2>Or sign up <a href="signUpPage.html">here.</a></H2>
</form>
</body>
</html>