<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>view recipe</title>
</head>
<body>
<input action="action" type="button" onclick="history.go(-1);" value="Back"/>
  <div th:object="${recipe}">
    <h1 th:text="${recipe.title}"></h1>
    <p th:text="${recipe.description}"></p>
    <p th:text="${recipe.difficultyLevel}"></p>
    <p th:text="${recipe.allergyFactors}"></p>
    <p th:text="${recipe.comments}"></p>
    <p th:text="${recipe.ratings}"></p>
    <p th:text="${recipe.imageOfRecipe}"></p>
    <p th:text="${recipe.forNumberOfPeople}"></p>
    <p th:text="${recipe.prepTime}"></p>
  </div>
  <div>
    <form class="flex-box">
      <label>
        Leave a comment and a rating here!
      </label>
      <label>Username:</label>
      <div>
        <input class="name-input">
        <label>Rate:</label>
        <input class="rating-section" placeholder="" style="text-align: left"></input>
      </div>
      <textarea class="comment-section" placeholder="Write your comment here!" style="text-align: left"></textarea>
      <button class="submit-comment-btn">
        <a th:href="@{/submit}">Submit</a>
      </button>
    </form>
  </div>
<style>
  .flex-box {
    display: flex;
    flex-direction: column;
  }
  .comment-section {
    width: 300px;
    height: 60px;
  }
  .rating-section {
    width: 100px;
  }
  .name-input {
    width: 150px;
  }
  .submit-comment-btn {
    width: 60px;
  }
</style>
</body>
</html>