<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>view recipe</title>
</head>
<body>
  <div th:object="${recipe}">
    <h1 th:text="${recipe.title}"></h1>
    <h5>Here is the recipe:</h5>
    <pre th:text="${recipe.description}"></pre>
    <h5>Difficulty level:</h5>
    <p th:text="${recipe.difficultyLevel}"></p>
    <h5>Allergy Factors:</h5>
    <p th:text="${recipe.allergyFactors}"></p>
    <h5>Author's comments:</h5>
    <p th:text="${recipe.comments}"></p>
    <h5>Author's rating:</h5>
    <p th:text="${recipe.ratings}"></p>
    <p th:text="${recipe.imageOfRecipe}"></p>
    <h5>This recipe is suitable for(number of people):</h5>
    <p th:text="${recipe.forNumberOfPeople}"></p>
    <h5>Time(minutes):</h5>
    <p th:text="${recipe.prepTime}"></p>
  </div>
  <div>
    <a th:href="@{/edit-recipe}" method="get">Edit Recipe</a>
  </div>
  <div>
    <form th:action="@{/submit}" method="post" class="flex-box">
      <label>
        Leave a comment here!
      </label>
      <label>Username:</label>
      <input class="name-input" name="recipeUsername">
      <textarea class="comment-section" name="recipeComment" placeholder="Write your comment here!" style="text-align: left"></textarea>
      <input class="submit-button" type="submit" value="submit"/>
    </form>
    <form th:action="@{/Rsubmit}" method="post" class="flex-box">
      <label>
        Leave a rating here!
      </label>
      <label>Username:</label>
      <input class="name-input" name="recipeUsername">
      <input class="rating-section" name="recipeRating" placeholder="Write your rating here!" style="text-align: left"></input>
      <input class="submit-button" type="submit" value="submit"/>
    </form>
  </div>
  <table>
  <thead>
  <tr>
    <th hidden>recipeID</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="recipe : ${recipecomment}">
    <td th:text="${recipe.nickname}"></td>
    <td th:text="${recipe.myComment}"></td>
    </tr>
  </tbody>
  </table>
  <table>
    <thead>
    <tr>
      <th hidden>recipeID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${reciperating}">
      <td th:text="${recipe.nickname}"></td>
      <td th:text="${recipe.myRating}"></td>
    </tr>
    </tbody>
  </table>
  <style>
    .flex-box {
      display: flex;
      flex-direction: column;
    }
    .comment-section {
      width: 300px;
      height: 60px;
    }
    .rating-section {
      width: 100px;
    }
    .name-input {
      width: 150px;
    }
    .submit-button{
      width: 60px;
    }
    pre
    {
      font-family:"Times New Roman", Times, serif;
    }
  </style>
</body>
</html>