<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign up! ..or login to an existing account.</title>
</head>
<body>
<input action="action" type="button" onclick="history.go(-1);" value="Back"/>
<h2>Sign up for an account here:</h2>
<form action="/loginPage" th:action="@{/login}" th:object="${recipeuser}"  method="post">
  <input type="text" name="RecipeUsername" id="RecipeUsername" th:field="*{RecipeUsername}" placeholder="Account name"/>
  <br>
  <input type="text" name="RecipeUserPassword" id="RecipeUserPassword" th:value="*{RecipeUserPassword}" placeholder="Password"/>
  <br>
  <input type="submit" value="Sign up"/>
  <br>
  <H2>Or login <a href="signUpPage.html">here.</a></H2>
</form>

</body>
</html>